.card {
  cursor: pointer;
}
.card:hover .card__item-title {
  text-decoration: underline;
}

.card-image {
  height: 250px;
  img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
}

.card__item-info {
  margin-top: 1.2rem;
  .card__item-title {
    color: #555;
    line-height: 2.3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-decoration: none;
  }
}
.item-price {
  font-size: 2.2rem;
  color: #131932;
  font-weight: 500;
}
.item-sale-price {
  font-size: 2.2rem;
  color: rgb(197, 58, 58);
}
.item-sale {
  font-size: 1.8rem;
  margin-left: 2rem;
  text-decoration: line-through;
  color: #344343;
}
