.category-page-wrapper {
  width: 116rem;
  max-width: 100%;
  .category-page-heading {
    border-top: 0.111rem solid #2222;
    padding-top: 1.1rem;
    span {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
