.category-card {
  .category-title__wrapper {
    margin-top: 1.2rem;
  }
  .category-link {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1a1b45;
    text-decoration: none;
    .category-image {
      height: 250px;
      img {
        object-fit: fill;
        height: 100%;
        width: 100%;
      }
    }
  }
}
