.accordion-container {
  max-width: 116rem;
  width: 100%;
}

.product__price-details {
  padding: 1.2rem 0rem;
  font-size: 1.6rem;
  color: #333;
}

.may-like__heading {
  display: flex;
  justify-content: center;
  h3 {
    font-size: 2.2rem;
    color: #333;
    font-weight: 600;
  }
}

.you-may-like-wrapper {
  max-width: 116rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3.2rem;
}
