.input-wrapper {
  position: relative;
  .clear-wrapper-none {
    display: none !important;
  }
  .input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem 7.2rem 1rem 1rem;
    outline: none;
    border-radius: 20px;
    border: 1px solid rgb(160, 159, 159);
  }
  .search-wrapper {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    height: calc(100% - 2px);
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 1px solid rgb(160, 159, 159);
    border-left: 0px;
  }
  .clear-wrapper {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 43px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .search-drop-down {
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    z-index: 999;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.26);
    .search-drop-down__heading {
      padding: 1.2rem 1.6rem;
      background-color: #eeeeee;
      span {
        font-size: 1.6rem;
      }
    }
    .searched-item-card:link,
    .searched-item-card:visited {
      cursor: pointer;
      display: flex;
      gap: 2rem;
      padding: 1.6rem;
      text-decoration: none;
      color: #333;
      &:hover {
        overflow: hidden;
        background-color: #ececec;
        border-bottom-left-radius: 1.1rem;
        border-bottom-right-radius: 1.1rem;
      }
      .searched-item__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 3.6rem;
        .searched-item__main-info {
          font-size: 1.6rem;
        }
        .searched-item__main-price {
          display: flex;
          flex-direction: column;
          align-items: flex;
          .searched-item-info__sale-price {
            font-size: 1.6rem;
            color: rgb(207, 43, 43);
          }
          .item-sale {
            font-size: 1.4rem !important;
            text-decoration: line-through;
          }
          .searched-item-info__price {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .show-all-result {
    display: flex;
    background-color: #eeeeee;
    padding: 1.2rem;
    justify-content: center;
    a:link,
    a:visited {
      color: #333;
      text-decoration: none;
      font-size: 1.6rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
